* {
    box-sizing: border-box;
    /* border: 3px solid green; */
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    margin: 0;
    font-family: 'Bangers', cursive;
    color: rgb(59, 59, 59);
    overflow: hidden;
    background: rgb(6, 223, 212)
}

#display {
    text-align: center;
    display: table;
    height: 100%;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

p.text-display {
    display: inline-block;
    color: rgb(59, 59, 59);
    text-decoration: none;
    text-align: center;
    margin: 80px 80px 40px 80px;
    padding: 15px 20px;
    background:rgb(238, 148, 223);
    border-radius: 5px;
    min-width: 24px;
    font-size: 40px;
    border: 3px solid rgba(0, 0, 0, 0.11);
}

#keycode-display {
    color: rgb(59, 59, 59);
    font-size: 200px;
    text-decoration: none;
    text-align: center;
    margin: 20px 20px 40px 20px;
    padding: 15px 20px;
}

#cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 20px;
}

.card {
    background: rgb(255, 255, 255);
    border-radius: 5px;
    overflow: hidden;
    margin: 10px;
    flex: 1;
    max-width: 150px;
    text-decoration: none;
    border: 2px solid rgba(0, 0, 0, 0.11);
}

.card-main {
    font-size: 30px;
}

.card-header {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(238, 148, 223);
    padding: 5px 10px;
    position: relative;
    border: 2px solid rgb(218, 129, 203);
}

.card-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.main-description {
    font-size: 28px;
    text-align: center;
    min-height: 35px;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(6, 223, 212);
}

@media (max-width: 750px) {
    #cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 750px) {
    p.text-display {
        margin: 40px 40px 20px 40px;
        font-size: 20px;
    }
}

@media (max-width: 750px) {
    #keycode-display {
        font-size: 100px;
        margin: 20px 10px;
        padding: 0px;
        
    }
}

@media (max-width: 750px) {
    .card-header {
        font-size: 10px;
    }
}

@media (max-width: 750px) {
    .card-header {
        font-size: 10px;
    }
}